body {
    max-width: 1000px;
    margin: 0 auto;
}

.t_user {
    width: 760px;
    margin: 20px auto;
}

.t_user #name {
    width: 100px;
}

p {
    text-align: center;
}

#block_button {
    display: flex;
    margin: 0 auto;
}