body {
    max-width: 1000px;
    margin: 0 auto;
}

.t_user {
    width: 760px;
    margin: 20px auto;
    border-radius: 8px;
}

.t_user #name {
    width: 100px;
}

.t_user {
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 8px;
}

.t_user th , td {
    border: 1px solid black;
    padding: 15px;
}

p {
    text-align: center;
}

#block_button {
    display: flex;
    margin: 40px auto;
    font-size: 2em;
    text-decoration: none;
    border: 10px solid lightblue;
    background-color: white;
    padding: 20px;
    border-radius: 100px;
}

#block_button:hover {
    background-color: lightgray;
    transition: .5s;
}

.result {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20em;
    height: 5em;
    background-color: lightgray;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    text-align: center;
    color: red;
    border: 10px solid orange;
}